.main-title{
    width: 100%;
}
.main-title h1{
    font-size: 30px;
    font-weight: 700;
    color: #fff; 
    /* -webkit-text-stroke: 1px #fff;  */
    /* -webkit-text-stroke: 1px rgb(123, 173, 206);  */
    margin: 10px 0;
    letter-spacing: 2px; 
}