.target-page{
    min-height: 100vh;
    z-index: 23;
    position: relative;
}
.target-landing{
    background-image: url(https://res.cloudinary.com/dxoongqsw/image/upload/v1742394600/bg3_ykdsvi.jpg);
    background-color: #090c2d;
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
}   
.target-landing::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1303328e;
    width: 100%;
    height: 100%;
}
.target-landing img{
    position: relative;
    z-index: 23;
    margin-bottom: 40px;
    
}
.what-we-offer {
    background: #fff;
    color: #000;
    padding: 80px 20px;
    text-align: center;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.service-card {
    background: white;
    padding: 0 20px 20px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(83, 76, 76, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    position: relative;
}
.service-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #250f52;
    z-index: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.service-card p {
    position: relative;
    z-index: 2;
}
.service-card img{
    z-index: 3;
    position: relative;
}
.service-card:hover::after{
    width: 100%;
}
.service-card h4,.service-card h6{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.service-card:hover h4,.service-card:hover h6{
    color: #fff;
    z-index: 2;
    position: relative;
}
.service-card p{
    position: relative;
    z-index: 2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-size: 15px;
}
.service-card:hover p{
    color: #999;
}
.content-wrapper{
    text-align: left;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    overflow: hidden;
    height: 200px;
}
.img-wrapper img{
    max-width: 100%;
    margin: 0 auto;
    width: 130px;
    object-fit: cover;
}
@media (max-width: 991px) {
    
    .target-landing img{
        width: 500px;
    }
}
@media (max-width: 768px) {
    .target-landing {
        padding-bottom: 80px;
    }
    .target-landing h3{
        padding: 0;
    }
    .target-landing img{
        margin: 0 auto;
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px){
    .target-landing img{
        width: 300px;
    }
}